@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#carousel-section {
  clip-path: ellipse(135% 100% at 50% 100%);
}

#carousel-card:hover {
  flex-basis: 25%;
  border: none;
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image:
  radial-gradient(49% 81% at 45% 47%, #dcfce7 0%, #9EFFF0FF 100%),radial-gradient(113% 91% at 17% -2%, #cffafe 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FF000000 1%, #5eead4 99%),radial-gradient(142% 91% at -6% 74%, #cffafe 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #cffafe 1%, #5eead4 100%);
}
.path-0{
  animation:pathAnim-0 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;
  }
@keyframes pathAnim-0{
  0% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 91.46428571428572,174.57142857142856 182.92857142857144,149.14285714285714 306,136 C 429.07142857142856,122.85714285714286 583.7500000000001,122 730,133 C 876.2499999999999,144 1014.0714285714284,166.85714285714286 1131,180 C 1247.9285714285716,193.14285714285714 1343.9642857142858,196.57142857142856 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
    25%{
  d: path("M 0,400 C 0,400 0,200 0,200 C 104.67857142857142,200.03571428571428 209.35714285714283,200.07142857142858 338,192 C 466.64285714285717,183.92857142857142 619.25,167.75 750,166 C 880.75,164.25 989.6428571428571,176.92857142857142 1101,185 C 1212.357142857143,193.07142857142858 1326.1785714285716,196.53571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
50%{
  d: path("M 0,400 C 0,400 0,200 0,200 C 143.71428571428572,220.89285714285714 287.42857142857144,241.78571428571428 410,260 C 532.5714285714286,278.2142857142857 634,293.75 752,262 C 870,230.24999999999997 1004.5714285714287,151.21428571428572 1122,133 C 1239.4285714285713,114.78571428571429 1339.7142857142858,157.39285714285714 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
75%{
  d: path("M 0,400 C 0,400 0,200 0,200 C 123.64285714285714,187.39285714285714 247.28571428571428,174.78571428571428 368,162 C 488.7142857142857,149.21428571428572 606.5,136.25000000000003 714,127 C 821.5,117.74999999999997 918.7142857142858,112.2142857142857 1038,125 C 1157.2857142857142,137.7857142857143 1298.642857142857,168.89285714285717 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
100%{
  d: path("M 0,400 C 0,400 0,200 0,200 C 91.46428571428572,174.57142857142856 182.92857142857144,149.14285714285714 306,136 C 429.07142857142856,122.85714285714286 583.7500000000001,122 730,133 C 876.2499999999999,144 1014.0714285714284,166.85714285714286 1131,180 C 1247.9285714285716,193.14285714285714 1343.9642857142858,196.57142857142856 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
  }


