// bg
$bg-white: #fff;

// grid
$mainGrid: 1fr;
$gridAreaMid: 2 / 3;

// margin
$sectionYmargin: 2rem 0;

// font weight
$heavy: 900;
$bold: 700;
$reg: 400;
$light: 300;
$thin: 100;

// font color
$black: #000;
$white: #fff;
$grey: #757575;

// letter spacing height
$letterDefault: 0.10rem;
$lineDefault: 1rem;