// App grid settings
@mixin app-grid() {
  display: grid;
  grid-template-columns: 1fr;
}

// circle thumbnail settings
@mixin circle-thumbnail() {
  background-color: #e5e7eb;
  margin: 1rem 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

// Section grid area
@mixin section-grid-area() {
  grid-column-start: 2 / 3;
  margin: 2rem 0;
}

// Section display flex 
@mixin section-flex($direction) {
  display: flex;
  flex-direction: $direction;
}

// Section title settings
@mixin section-header($size) {
  font-weight: 700;
  font-size: $size;
  color: #000;
}

// Section content text settings
@mixin section-text() {
  font-weight: 700;
  font-size: 0.85rem;
  color: #757575;
}

// card container settings
@mixin img-card-container() {
  margin: 1rem 0;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
}

// card img settings
@mixin img-card() {
  width: 100%;
  border-radius: 0.75rem;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  &:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

// card content settings
@mixin img-card-content() {
  @include section-flex(column);
  position: absolute;
  justify-content: flex-end;
  align-items: flex-start;
  bottom: 5%;
  left: 5%;
  color: #fff;
  z-index: 50;
}