@import './variables';

.about-container {
  @include section-grid-area();
  .about-header {
    @include section-header(1.25rem);
  }

  .about-item {
    .content-desc {
      font-weight: 300;
      font-size: 0.85rem;
      margin: 1rem 0;
      line-height: 1.25rem;
    }
  }

}