@import './variables';

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 50px 50px 1fr 30px;
  row-gap: 1rem;
  position: fixed;
  top: 450px;
  right: 100px;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #fff;
  height: 400px;
  width: 400px;
  z-index: 150;
  border-radius: 0.75rem;
  border: 1px solid #000;
  box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 20%);

  
  .contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input {
    border-radius: 0.75rem;
    border: 1px solid #000;
    padding: 0 1rem;
  }

  textarea {
    border-radius: 0.75rem;
    border: 1px solid #000;
    padding: 1rem;
    resize: none;
  }

  .close-form {
    background-color: transparent;
    font-size: 2rem;
    border: none;
    padding-left: 2.25rem;
    line-height: 1rem;
  }

  button {
    border-radius: 0.75rem;
    width: 20%;
    justify-self: end;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
}

.contact-button {
  background-color: #757575;
  border-radius: 50%;
  line-height: 1rem;
  color: #fff;
  border: none;
  position: fixed;
  top: 800px;
  right: 125px;
  font-size: 2rem;
  box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 30%);

  & > * {
    padding: 0.60rem;
  }
}