@import './variables';

.featured-container {
  @include section-grid-area();
  @include section-flex(column);
  height: 500px;

  &:nth-of-type(n + 2) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .featured-header {
    @include section-header(1.25rem);

    .featured-status {
      @include section-text();
    }
  }

  .featured-item {
    @include img-card-container();

    .featured-content {
      @include img-card-content();
      visibility: visible;


      .content-title {
        font-weight: 900;
        font-size: 1.25rem;
      }

      .content-stack {
        font-weight: 400;
        font-size: 0.75rem;
        color: #fff;
        letter-spacing: 0.10rem;
      }

      .content-desc {
        font-weight: 300;
        font-size: 0.85rem;
        margin: 1rem 0 0 0;
        line-height: 1.25rem;
        white-space: pre-line;
        visibility: hidden;
      }

      .content-links {
        visibility: hidden;

        button {
          background-color: transparent;
          margin-right: 1rem;
          border: none;

          a {
            text-decoration: none;
            color: white;
            font-size: 1.25rem;
          }
        }
      }
    }

    .featured-img {
      @include img-card();
      
    }
  }
}