@import './variables';

.intro-container {
  @include section-grid-area();
  margin-top: 1rem;

  .name {
    @include section-header(2rem);
  }

  .position {
    @include section-text();
  }

  .profile-img-container {
    @include circle-thumbnail();

    background-size: cover;
    background-image: url('https://github.com/josemourinho333/josemourinho333.github.io/blob/section-featured/docs/profile.png?raw=true');
    background-position: 50% 80%;
  }
}