@import './variables';

.skills-container {
  @include section-grid-area();
  @include section-flex(column);

  .skills-header {
    @include section-header(1.25rem);
    margin-bottom: 1rem;
  }

  .skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);

    .skill-header {
      @include section-header(0.85rem);
      font-weight: 600;
      grid-area: auto / 1 / auto / 6;
      color: #757575;
    }

    .skill-list {
      margin: 1.5rem 0;
      & > * {
        font-size: 2rem;
        margin: 0 1rem 0 0;
      }
    }
  }
}