@import './variables';

.work-container {
  @include section-grid-area();
  @include section-flex(column);
  margin-top: 0;

  .work-header {
    @include section-header(1.25rem);
    margin-bottom: 1rem;
  }

  .work-content {
    @include cv-layout();

    .timeline {
      .month {
        font-size: 0.85rem;
        font-weight: 400;
      }
    }
  }
}